@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.woff2') format('woff2'),
        url('Bangers-Regular.woff') format('woff'),
        url('Bangers-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

